[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = git@github.com:mhirano/imgui.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "3rdparty/implot"]
	path = 3rdparty/implot
	url = git@github.com:mhirano/implot.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = git@github.com:mhirano/spdlog.git
