version: '3'
services:
  islay:
    image: islay
    container_name: bowmore 
    hostname: bowmore
    build: 
      context: .
      dockerfile: Dockerfile
    environment:
      - DISPLAY=${DISPLAY}
    ports:
      - "10022:22" # ssh
    volumes:
      - "../result:/work/islay/result"
      - "../res:/work/islay/res"
      - /tmp/.X11-unix:/tmp/.X11-unix
    tty: true 
    #shm_size: '32gb'
    #deploy:
    #  resources:
    #    reservations:
    #      devices:
    #      - driver: nvidia
    #        count: all
    #        capabilities: [gpu, compute, utility]
